@charset "UTF-8";

/* ----------------------------------------
   サイフィクリプレイ風レイアウト
   ---------------------------------------- */

/* @page内で使えないのでメモ用に定数を書いてあるだけ
:root {
  --page-width: 182mm;
  --page-height: 257mm;

  --cuttingMargin: 3mm;

  --page-margin-top: 20mm;
  --page-margin-bottom: 20mm;
  --page-margin-inside: 20mm;
  --page-margin-outside: 17mm;
  --page-margin-sides: 18.5mm;
}
*/

/* ----------------------------------------
   フォント読み込み
   ---------------------------------------- */
@font-face {
  font-family: 'header-logo';
  font-weight: normal;
  src:
    url('../font/FORCED SQUARE.ttf') format('truetype');
}
@font-face {
  font-family: 'heavy';
  font-weight: bold;
  src:
    url('../font/SourceHanSans-Heavy.otf') format('opentype');
}
@font-face {
  font-family: 'quote';
  font-weight: normal;
  src:
    url('../font/SourceHanSans-Light.otf') format('opentype');
}
@font-face {
  font-family: 'gothic';
  font-weight: normal;
  src:
    url('../font/SourceHanSans-Normal.otf') format('opentype');
}
@font-face {
  font-family: 'gothic';
  font-weight: bold;
  src:
    url('../font/SourceHanSans-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'mincho';
  font-weight: normal;
  src:
    url('../font/SourceHanSerif-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'mincho';
  font-weight: bold;
  src:
    url('../font/SourceHanSerif-Heavy.otf') format('opentype');
}

/* ----------------------------------------
   リセット
   ---------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

q::before,q::after {
  content: '';
}

/* ----------------------------------------
   ページ
   ---------------------------------------- */
html {
  font-family: 'mincho';
  font-size: 2.75mm;
  line-height: 4mm;
  vertical-align: middle;
  
  writing-mode: horizontal-tb;
  orphans: 1;
  widows: 1;
}


@page{
  size: 188mm 263mm;
  
  counter-increment: page;
}

@page: first {
  counter-reset: page 0;
}
/*
@page:left {
  margin-left: 13mm;
  margin-right: 18mm;
}

@page:right {
  margin-left: 18mm;
  margin-right: 13mm;
}
*/
 

@-epubx-page-template {
  blockquote {
/*    -epubx-flow-into: sidenote;
    -epubx-flow-options: exclusive;*/
  }
  
  .large-header {
    -epubx-flow-into: large-header;
    -epubx-flow-options: exclusive;
  }
  
  .text h2 {
    -epubx-flow-into: medium-header;
    -epubx-flow-options: exclusive;
  }
  
  .header_book-title {
    -epubx-flow-into: page-header; 
    -epubx-flow-options: static;
    
    writing-mode: horizontal-tb;
    font-size: 4mm;
    height: 4mm;
    font-family: 'header-logo';
    
    transform-origin: top left;
    transform: scale(1.8, 1);
  }
  
  .header_subtitle {
    -epubx-flow-into: page-outside; 
    -epubx-flow-options: static;
    
    writing-mode: vertical-rl;
    font-size: 4mm;
    height: 72mm; 
    width: 6mm;
    text-align: center;
    font-family: 'header-logo';
    padding-right: 1mm;
    
    border-left: 0.2mm solid #000;
    border-right: 0.2mm solid #000;
    
    transform-origin: top left;
    transform: scale(1, 1.5)
  }
  
  .header_subtitle::before {
    content: '';
    position: absolute;
    height: 1mm;
    width: 3.5mm;
    border: 0.2mm solid #000;
    
    transform-origin: top right;
    transform: skewY(-30deg);
    filter: drop-shadow(0 3mm) drop-shadow(0 6mm);
  }
  
  .header_subtitle::after {
    content: '';
    position: absolute;
    bottom: 0mm;
    right: 1mm;
    height: 1mm;
    width: 3.5mm;
    border: 0.2mm solid #000;

    transform-origin: bottom left;
    transform: skewY(-30deg);
    filter: drop-shadow(0 -3mm) drop-shadow(0 -6mm);
  }
  
  #footer_page-number {
    -epubx-flow-into: page-number;
    -epubx-flow-options: static;
      
    writing-mode: horizontal-tb;
    font-size: 3mm;
    font-family: 'quote';
    text-align: right;
    
    width: 18mm;
  }
  #footer_page-number::after {
    content: counter(page);
  }
  
  @-epubx-page-master page-large-haader {
    @-epubx-partition  {
    	-epub-writing-mode: horizontal-tb;
      top: 20mm;
      left: 21mm;
      right: 21mm;
      height: 68mm;
      -epubx-flow-from: large-header;
      -epubx-required: true;
    } 

    @-epubx-partition  {
    	-epub-writing-mode: horizontal-tb;
      top: 94mm;
      left: 55mm;
      padding-left: 58mm;
      width: 54mm;
      bottom: 20mm;
      overflow: visible;
      -epubx-flow-from: body;
    }
    @-epubx-partition  {
    	-epub-writing-mode: horizontal-tb;
      top: 94mm;
      left: 55mm;
      width: 54mm;
      bottom: 20mm;
      overflow: visible;
      -epubx-flow-from: body;
    }
    @-epubx-partition {
    	-epub-writing-mode: horizontal-tb;
      top: 9mm;
      left: 0mm;
      width: 100%;
      height: 4mm;
      padding: 0.5mm 18mm;
      
      border-top: 1mm solid #000;
      border-bottom: 0.2mm solid #000;
      
      -epubx-flow-from: page-header;
    }
    @-epubx-partition {
    	-epub-writing-mode: horizontal-tb;
      top: 20mm;
      bottom: 20mm;
      left: 9mm;
      width: 6mm;
      overflow: visible;
      
      -epubx-flow-from: page-outside;
    }
    @-epubx-partition {
    	-epub-writing-mode: horizontal-tb;
      right: 21mm;
      bottom: 12mm;
      -epubx-flow-from: page-number;
      -epubx-wrap-flow: auto;

    }
  }
  
  @-epubx-page-master page-single-medium-header{
    @-epubx-partition  {
    	-epub-writing-mode: horizontal-tb;
      top: 23mm;
      left: 55mm;
      right: 21mm;
      height: 15mm;
      -epubx-flow-from: medium-header;
      -epubx-required: true;
    } 

    @-epubx-partition  {
    	-epub-writing-mode: horizontal-tb;
      top: 43mm;
      left: 55mm;
      padding-left: 58mm;
      width: 54mm;
      bottom: 20mm;
      overflow: visible;
      -epubx-flow-from: body;
    }
    @-epubx-partition  {
    	-epub-writing-mode: horizontal-tb;
      top: 43mm;
      left: 55mm;
      width: 54mm;
      bottom: 20mm;
      overflow: visible;
      -epubx-flow-from: body;
    }
    @-epubx-partition {
    	-epub-writing-mode: horizontal-tb;
      top: 9mm;
      left: 0mm;
      width: 100%;
      height: 4mm;
      padding: 0.5mm 18mm;
      
      border-top: 1mm solid #000;
      border-bottom: 0.2mm solid #000;
      
      -epubx-flow-from: page-header;
    }
    @-epubx-partition {
    	-epub-writing-mode: horizontal-tb;
      top: 20mm;
      bottom: 20mm;
      left: 9mm;
      width: 6mm;
      overflow: visible;
      
      -epubx-flow-from: page-outside;
    }
    @-epubx-partition {
    	-epub-writing-mode: horizontal-tb;
      right: 21mm;
      bottom: 12mm;
      -epubx-flow-from: page-number;
      -epubx-wrap-flow: auto;

    }
  }

    @-epubx-page-master page-text {

    @-epubx-partition  {
    	-epub-writing-mode: horizontal-tb;
      top: 20mm;
      left: 52mm;
      padding-left: 58mm;
      width: 54mm;
      bottom: 20mm;
      overflow: visible;
      -epubx-flow-from: body;
    }
    @-epubx-partition  {
    	-epub-writing-mode: horizontal-tb;
      top: 20mm;
      left: 52mm;
      width: 54mm;
      bottom: 20mm;
      overflow: visible;
      -epubx-flow-from: body;
    }
    @-epubx-partition {
    	-epub-writing-mode: horizontal-tb;
      top: 8mm;
      right: 15.5mm;
      height: 2mm;
      -epubx-flow-from: header-right;
    }
    @-epubx-partition {
    	-epub-writing-mode: horizontal-tb;
      right: 21mm;
      bottom: 12mm;
      -epubx-flow-from: page-number;
      -epubx-wrap-flow: auto;

    }
  }
}

/* ----------------------------------------
   個別パーツ
   ---------------------------------------- */
.text {
}
.large-header{
  display: block;
  width: 100%;
  height: 100%;
  
  background-color: #666;
  color: #fff;
}
.large-header h1 {
  padding-top: 14mm;
  font-family: 'heavy';
  font-weight: bold;
  font-size: 11.5mm;
  text-align: center;
}
.large-header div {
  position: absolute;
  right: 5mm;
  bottom: 5mm;
  height: 30mm;
  width: 60mm;

  background-color: #fff;
  border-radius: 2mm;
  color: #000;
  padding: 2mm;
  border: 1mm solid #999;
  font-family: 'gothic';
}

.large-header cite {
  position: absolute;
  right: 2mm;
  bottom: 2mm;

  font-style: normal;
}

.large-header cite::before {
  content: '────'
}

.text h2 {  
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 5mm; 
  
  font-family: 'heavy';
  font-size: 7mm;
  color: #fff;
  background: url(../image/medium-header.svg);
}


.text > p {
  margin-bottom: 5mm;
}

.text > dl {
  margin-bottom: 5mm;
}
.text > dl dt {
  float: left;
  font-family: 'gothic';
  font-weight: bold;
  clear: left;
}
.text > dl dt::after {
  content: '：';
}
.text > dl dd {
}

.text em {
  font-family: 'gothic';
  font-weight: bold;
  font-style: normal;
}
.text blockquote{
  position: absolute;
  font-family: 'gothic';
  font-size: 2.75mm;
  line-height: 4mm;
  width:28mm;
  left: -34mm;
  top: auto;
}
.text  blockquote dt {
  font-weight: bold;
}
