@charset "UTF-8";

/* ----------------------------------------
   サイフィクリプレイ風レイアウト
   ---------------------------------------- */

/* @page内で使えないのでメモ用に定数を書いてあるだけ
:root {
  --page-width: 182mm;
  --page-height: 257mm;

  --cuttingMargin: 3mm;

  --page-margin-top: 20mm;
  --page-margin-bottom: 20mm;
  --page-margin-inside: 20mm;
  --page-margin-outside: 17mm;
  --page-margin-sides: 18.5mm;
}
*/

/* ----------------------------------------
   フォント読み込み
   ---------------------------------------- */
@font-face {
  font-family: 'gothic';
  font-weight: normal;
  src:
    url('../font/SourceHanSans-Normal.otf') format('opentype');
}
@font-face {
  font-family: 'gothic';
  font-weight: bold;
  src:
    url('../font/SourceHanSans-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'mincho';
  font-weight: normal;
  src:
    url('../font/SourceHanSerif-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'mincho';
  font-weight: bold;
  src:
    url('../font/SourceHanSerif-Heavy.otf') format('opentype');
}

/* ----------------------------------------
   リセット
   ---------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

q::before,q::after {
  content: '';
}

/* ----------------------------------------
   ページ
   ---------------------------------------- */
html {
  font-family: 'mincho';
  font-size: 2.75mm;
  line-height: 4mm;
  vertical-align: middle;
  
  writing-mode: horizontal-tb;
  orphans: 1;
  widows: 1;
}


@page{
  size: 188mm 263mm;
  
  counter-increment: page;
}

@page: first {
  counter-reset: page 0;
}
/*
@page:left {
  margin-left: 13mm;
  margin-right: 18mm;
}

@page:right {
  margin-left: 18mm;
  margin-right: 13mm;
}
*/
 

@-epubx-page-template {
  blockquote {
/*    -epubx-flow-into: sidenote;
    -epubx-flow-options: exclusive;*/
  }
  
  .large-header {
    -epubx-flow-into: large-header;
  }
  
  .header_book-title {
    -epubx-flow-into: header-right; 
    -epubx-flow-options: static;
    
    writing-mode: horizontal-tb;
    font-size: 2mm;
    line-height: 2mm;
    font-family: 'gothic';
    text-align: right;
  }
  
  #footer_page-number {
    -epubx-flow-into: page-number;
    -epubx-flow-options: static;
    
    writing-mode: horizontal-tb;
    font-size: 2.5mm;
    text-align: right;
    
    width: 18mm;
    border-bottom: solid 0.1mm #000;
    padding-right: 12mm;
  }
  #footer_page-number::after {
    content: counter(page);
  }
  
  @-epubx-page-master {

    @-epubx-partition  {
    	-epub-writing-mode: horizontal-tb;
      top: 20mm;
      left: 18mm;
      right: 20mm;
      height: 68mm;
      -epubx-flow-from: large-header;
    } 

    @-epubx-partition  {
    	-epub-writing-mode: horizontal-tb;
      top: 94mm;
      right: 20mm;
      width: 54mm;
      bottom: 20mm;
      overflow: visible;
      -epubx-flow-from: body;
    }
    @-epubx-partition  {
    	-epub-writing-mode: horizontal-tb;
      top: 94mm;
      left: 52mm;
      width: 54mm;
      bottom: 20mm;
      overflow: visible;
      -epubx-flow-from: body;
    }
    @-epubx-partition {
    	-epub-writing-mode: horizontal-tb;
      top: 8mm;
      right: 15.5mm;
      height: 2mm;
      -epubx-flow-from: header-right;
    }
    @-epubx-partition {
    	-epub-writing-mode: horizontal-tb;
      right: 0mm;
      bottom: 7mm;
      -epubx-flow-from: page-number;
      -epubx-wrap-flow: auto;

    }
  }
  
    @-epubx-page-master {

    @-epubx-partition  {
    	-epub-writing-mode: horizontal-tb;
      top: 20mm;
      right: 20mm;
      width: 54mm;
      bottom: 20mm;
      overflow: visible;
      -epubx-flow-from: body;
    }
    @-epubx-partition  {
    	-epub-writing-mode: horizontal-tb;
      top: 20mm;
      left: 52mm;
      width: 54mm;
      bottom: 20mm;
      overflow: visible;
      -epubx-flow-from: body;
    }
    @-epubx-partition {
    	-epub-writing-mode: horizontal-tb;
      top: 8mm;
      right: 15.5mm;
      height: 2mm;
      -epubx-flow-from: header-right;
    }
    @-epubx-partition {
    	-epub-writing-mode: horizontal-tb;
      right: 0mm;
      bottom: 7mm;
      -epubx-flow-from: page-number;
      -epubx-wrap-flow: auto;

    }
  }
}

/* ----------------------------------------
   個別パーツ
   ---------------------------------------- */
.text {
}
.large-header{
  display: block;
  width: 100%;
  height: 100%;
  
  background-color: #666;
  color: #fff;
}
.large-header h1 {
  padding-top: 14mm;
  font-family: 'gothic';
  font-weight: bold;
  font-size: 11.5mm;
  text-align: center;
}
.large-header div {
  position: absolute;
  right: 5mm;
  bottom: 5mm;
  height: 30mm;
  width: 60mm;

  background-color: #fff;
  border-radius: 2mm;
  color: #000;
  padding: 2mm;
  border: 1mm solid #999;
  font-family: 'gothic';
}

.large-header cite {
  position: absolute;
  right: 2mm;
  bottom: 2mm;

  font-style: normal;
}

.large-header cite::before {
  content: '────'
}

.text h2 {

  font-size: 4mm;
  line-height: 6mm;
  background: #ccc;
  margin-bottom: 5mm;
}

.text h1 {
  counter-reset: sub-chapter;
}
.text h2::before{
  counter-increment:sub-chapter 1;
  content: counter(sub-chapter,cjk-ideographic) '、';
}
.text h2::after{
  content: ' ───────────';
}

.text > p {
  margin-bottom: 5mm;
}

.text > dl {
  margin-bottom: 5mm;
}
.text > dl dt {
  float: left;
  font-family: 'gothic';
  font-weight: bold;
  clear: left;
}
.text > dl dt::after {
  content: '：';
}
.text > dl dd {
}

.text em {
  font-family: 'gothic';
  font-weight: bold;
  font-style: normal;
}
.text blockquote{
  position: absolute;
  font-family: 'gothic';
  font-size: 2.75mm;
  line-height: 4mm;
  width:28mm;
  margin-left: -32mm;
  top: auto;
}
.text  blockquote dt {
  font-weight: bold;
}
