@charset "UTF-8";

/* ----------------------------------------
   トーキョー・ナイトメア風A4レイアウト
   ---------------------------------------- */

:root {
  --page-width: 210mm;
  --page-height: 297mm;

  --cuttingMargin: 3mm;

  --page-margin-top: 18.5mm;
  --page-margin-bottom: 18.5mm;
  --page-margin-inside: 22mm;
  --page-margin-outside: 18mm;
  --page-margin-sides: 20mm;

  --sidebar-width: 50mm;

  --font-size: 14q;
  --line: 20q;
}


/* ----------------------------------------
   フォント読み込み
   ---------------------------------------- */
@font-face {
  font-family: 'heavy';
  font-weight: bold;
  src:
    url('font/SourceHanSans-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'quote';
  font-weight: normal;
  src:
    url('font/SourceHanSans-Light.otf') format('opentype');
}

@font-face {
  font-family: 'gothic';
  font-weight: normal;
  src:
    url('font/SourceHanSans-Normal.otf') format('opentype');
}

@font-face {
  font-family: 'gothic';
  font-weight: bold;
  src:
    url('font/SourceHanSans-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'mincho';
  font-weight: normal;
  src:
    url('font/SourceHanSerif-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'mincho';
  font-weight: bold;
  src:
    url('font/SourceHanSerif-Heavy.otf') format('opentype');
}

/* ----------------------------------------
   リセット
   ---------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

q::before,
q::after {
  content: '';
}

/* ----------------------------------------
   ページ
   ---------------------------------------- */
html {
  font-family: 'mincho';
  font-size: var(--font-size);
  line-height: var(--line);
  vertical-align: middle;
  font-feature-settings: "palt";
  text-align: justify;

  writing-mode: horizontal-tb;
  orphans: 1;
  widows: 1;
}


@page {
  size: var(--page-width) var(--page-height);
  margin: var(--page-margin-top) var(--page-margin-sides) var(--page-margin-bottom);

  background: url('image/bg.svg');

  @bottom-right {
    font-family: 'gothic';
    font-size: 20q;
    content: counter(page);
    margin-bottom: 5mm;
    margin-right: -10mm;
  }

}

.new-page {
  page-break-after: always;
}

/* ----------------------------------------
   個別パーツ
   ---------------------------------------- */
.text {
  padding-left: var(--sidebar-width);

  p {
    text-indent: 1em;
  }

  .no-indent {
    text-indent: 0;
  }

  .gothic {
    font-family: 'gothic';
  }

  .note {
    font-family: 'quote';
  }

  h2 {
    width: 100%;
    height: calc(var(--line) * 3);
    text-align: center;
    padding-top: 5mm;

    font-family: 'heavy';
    font-size: 7mm;
    color: #fff;
    background: url(image/medium-header.svg) center/100% 100% no-repeat;

    break-after: avoid;
  }

  h3 {
    font-size: 20q;
    line-height: calc(var(--line) * 2);

    break-after: avoid;
  }

  h4 {
    font-size: 16q;
    line-height: 20q;

    break-after: avoid;
  }

  h5 {
    font-size: 14q;
    line-height: 20q;

    break-after: avoid;
  }


  em {
    font-family: 'gothic';
    font-weight: normal;
    font-style: normal;
  }

  strong {
    font-family: 'gothic';
    font-weight: bold;
    font-style: normal;
  }
}

blockquote {
  position: absolute;
  font-family: 'gothic';
  font-size: 12q;
  line-height: 20q;

  width: calc(var(--sidebar-width) - 7.5mm);
  left: 0;

  top: auto;

  /*
  border-top: #000 0.4mm solid;
  border-bottom: #000 0.1mm solid;
  */

  dt {
    font-weight: bold;
  }

  dd {
    text-indent: 1em;
  }
}

.full-width {
  display: block;
  position: relative;
  width: calc(var(--page-width) - 2 * var(--page-margin-sides));
  left: calc(- var(--sidebar-width));
}

.large-header {
  min-height: calc(var(--line) * 10);
  margin-bottom: var(--line);

  background: #666;
  color: #fff;

  overflow: hidden;

  h1 {
    position: absolute;
    left: 5mm;
    bottom: 5mm;

    font-family: 'heavy';
    font-weight: bold;
    font-size: 12mm;
    line-height: 12mm;

    /* vivliostyleがtext-stroke未対応なので */
    text-shadow:
      0.5mm 0 #000,
      -0.5mm 0 #000,
      0 0.5mm #000,
      0 -0.5mm #000,
      0.5mm 0.5mm #000,
      -0.5mm 0.5mm #000,
      0.5mm -0.5mm #000,
      -0.5mm -0.5mm #000;

    text-stroke: 0.5mm #000;

    &::before {
      content: 'シナリオ：\A';

      white-space: pre;
      font-size: 10mm;
    }
  }

  img {
    display: block;
    width: 100%;
  }

}

.handout {
  page-break-after: always;
  position: absolute;
  left: 0;
  bottom: 0;

  border: double 1mm #000;

  p {
    margin-bottom: 0;
  }

  td {
    border: double 1mm #000;
  }

  thead td {
    height: 15mm;
    text-align: center;

    font-family: 'heavy';
    font-size: 28q;
    color: #fff;
    background-color: #000;
  }



  tbody td {
    height: calc(var(--line) * 5);
    vertical-align: top;
    padding: 3mm;
  }

  td + td {
    width: 110mm;
  }

  p {
    line-height: 16q;
    font-size: 12q;
    font-family: 'quote';
  }

  .handout-trailer h3 {
    height: 12mm;
    margin-bottom: 3mm;

    font-size: 24q;
    font-family: 'heavy';


    padding-top: 1mm;
    border-top: 2mm solid #000;
    border-bottom: 0.2mm solid #000;
  }

  .trailer-last {
    margin-top: 3mm;
    text-align: center;
  }

  .handout-regulation {
    font-family: "gothic"
  }

  .handout-cast {
    padding: 0;
  }

  .cast-row {
    display: flex;
  }

  .handout-cast h3 {
    height: 7mm;
    width: 50%;
    color: #fff;
    background-color: #000;
    text-align: center;
    border-radius: 0 0 2mm 0;
  }

  .cast-style {
    height: 7mm;
    flex: 1;
    margin-right: 1mm;
    padding: 1mm;
    border-bottom: 0.2mm solid #000;
  }

  .cast-connection {
    width: 50%;
    margin-left: 1mm;
  }

  .cast-connection strong {
    font-family: 'gothic';
    font-size: 3mm;
  }

  .cast-ps {
    flex: 1;
    text-align: right;
    margin-right: 1mm;

    font-family: 'gothic';
    font-weight: bold;
  }

  .cast-text {
    padding: 2mm;
    /*
  column-count: 2;
  column-gap: 3mm;
*/
  }

  .cast-text p {}

}

.npc {
  width: calc(var(--page-width) - 2 * var(--page-margin-sides) - var(--sidebar-width));
  margin-top: var(--line);
  margin-left: 2mm;
  min-height: calc(var(--line) * 10);
  float: bottom;
  float-reference: page;

  background: #ccc;

  .npc-row {
    display: flex;
    align-items: stretch;

    div {
      flex: 1;
      padding: 2mm;
      font-family: 'gothic';
    }

    img {
      display: block;
      border: 0.4mm #000 solid;
      height: calc(var(--line) * 10 - 30q);
    }
  }



  h4 {
    font-family: 'heavy';
    font-size: 20q;
    line-height: 30q;
    height: 30q;
    text-align: center;

    background: url(image/npc-header.png) center/100% 100% no-repeat;

    color: #fff;
  }

  h5 {
    line-height: 16q;
    font-size: 12q;
  }

  p {
    line-height: 16q;
    font-size: 12q;
    font-family: 'quote';
  }
}
